/* sidebar styles */
.sidebar{
    background-color: rgb(28, 28, 68);
    width: 370px;
}

.image{
    padding-top: 40px;
}

.sidebar-content{
    padding: 30px 20px; 
}

.sidebar-content h3 {
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.sidebar-content li::marker {
    color: #FB6D3A;
    font-size: 25px;
}
.sidebar-content li {
    color: white;
    font-size: 16px;
}

.contacts{
    margin-bottom: 30px;
}

.contact-content{
    display: flex;
}

.contact-content p{
    margin-right: 5px;
}

.title-contact{
    color: white;
    padding-right: 5px;
    padding-bottom: 10px;
}

.title-content{
    color: gray;
    padding-left: 5px;
}

.tech-skills{
    padding-bottom: 30px;
}

.tech-skills li {
   color: white;
}

.soft-skills{
    padding-bottom: 30px;
}
