body{
    font-family: 'Montserrat', sans-serif;
}

/* main styles */

.main{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}






